<nav *ngIf="services.user.email" id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">71mb4</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: right;position: relative;top: 9px;">
			<user-session *ngIf="services.user.email" (return)="nav = $event" (logOut)="services.logout();"></user-session>
		</div>
	</div>
</nav>
<home *ngIf="!services.user.email" ></home>


  <section *ngIf="services.user.email" id="about">
	<div class="container">
		<div class="row">
			<dashboard *ngIf="services.timba.numbers && services.user.email && nav=='dashboard'" ></dashboard>
			<admin *ngIf="nav=='admin'" (return)="nav = $event" ></admin>
		</div>
	</div>
</section>