<div style="display:inline-table">
	<table>
		<tr>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(1)">1</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(4)">4</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(7)">7</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(10)">10</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(13)">13</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(16)">16</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(19)">19</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(22)">22</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(25)">25</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(28)">28</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(31)">31</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(34)">34</button></td>
		</tr>
		<tr>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(2)">2</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(5)">5</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(8)">8</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(11)">11</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(14)">14</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(17)">17</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(20)">20</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(23)">23</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(26)">26</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(29)">29</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(32)">32</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(35)">35</button></td>
		</tr>
		<tr>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(3)">3</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(6)">6</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(9)">9</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(12)">12</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(15)">15</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(18)">18</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(21)">21</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(24)">24</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(27)">27</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(30)">30</button></td>
			<td><button type="button" class="btn btn-primary btn-board" (click)="setBet(33)">33</button></td>
			<td><button type="button" class="btn btn-primary btn-board2" (click)="setBet(36)">36</button></td>
		</tr>
	</table>
</div>