<div style="margin-bottom:30px;margin-top:20px;display:inline-table">

	<table>
		<tr>
			<td *ngFor="let n of firstRow"><number [number]="n"></number></td>
		</tr>
		<tr>
			<td *ngFor="let n of secondRow"><number [number]="n"></number></td>
		</tr>
		<tr>
			<td *ngFor="let n of thirdRow"><number [number]="n"></number></td>
		</tr>
	</table>
</div>

<!--div *ngIf="false" class="board-modal">
	<div style="display:flex">
		<div style="width:33%">
			<h1 style="font-size:125px;font-family:arvo">3</h1>
		</div>
		<div style="width:33%">
			<h1 style="font-size:125px;font-family:arvo">2</h1>
		</div>
		<div style="width:33%">
			<h1 style="font-size:125px;font-family:arvo">1</h1>
		</div>
	</div>
</div-->

<div *ngIf="services.timba.status == 3" [class.show]="services.timba.status == 3" class="board-modal">
	<div *ngIf="services.timba.winnerNumber.players.length == 1" style="display:flex">
		
		<div style="width:67%;overflow-y:auto">
			<h4>Ganador</h4>
			<h3>{{services.timba.winnerNumber.players[0].email}}</h3>
		</div>
		<div style="width:33%">
			<h1 style="font-size:125px;font-family:arvo">{{services.timba.winnerNumber.number}}</h1>
		</div>
	</div>
	<div *ngIf="services.timba.winnerNumber.players.length > 1" style="display:flex">
		<div style="width:67%;overflow-y:auto">
			<h4 style="float:left">Ganadores</h4>

			<table  class="table">
				<tbody>
					<tr *ngFor="let player of services.timba.winnerNumber.players">
						<td style="float:left">{{player.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="width:33%">
			<h1 style="font-size:125px;font-family:arvo">{{services.timba.winnerNumber.number}}</h1>
		</div>
	</div>
	<div *ngIf="services.timba.winnerNumber.players.length == 0" style="padding:30px;display:flex">
		<h3>VACANTE</h3>
		<h5>otra oportunida</h5>
	</div>
</div>


<div *ngIf="services.timba.status >= 4" [class.show]="services.timba.status >=4" class="board-modal">
	<div *ngIf="services.timba.winner" style="width:100%;padding-bottom:20px">
		<h4>Ganador</h4>
		<h2>{{services.timba.winner}}</h2>
	</div>
	<div *ngIf="!services.timba.winner" style="display:flex">
		<div style="width:100%;overflow-y:auto">
			<h4>Desempate a MUERTE</h4>
			<table  class="table">
				<tbody>
					<tr *ngFor="let player of services.timba.winnerNumber.players">
						<td style="float:left;width:40%">{{player.email}}</td>
						<td style="float:left">
							<i *ngIf="player.points > 0" class="fa fa-money"></i>
							<i *ngIf="player.points > 1" class="fa fa-money"></i>
							<i *ngIf="player.points > 2" class="fa fa-money"></i>
							<i *ngIf="player.points > 3" class="fa fa-money"></i>
							<i *ngIf="player.points > 4" class="fa fa-money"></i>
							<i *ngIf="player.points > 5" class="fa fa-money"></i>
							<i *ngIf="player.points > 6" class="fa fa-money"></i>
							<i *ngIf="player.points > 7" class="fa fa-money"></i>
							<i *ngIf="player.points > 8" class="fa fa-money"></i>
							<i *ngIf="player.points > 9" class="fa fa-money"></i>
						</td>
						<td style="float:left">{{player.points}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

