
#messages{
      height: calc(100% - 55px);
      overflow-y:auto;
}

td{
      font-size: 12px;
    text-align: left;
    background: transparent;
    float: left;
}

.blur-bg{
  
  left:20%;
  position:absolute;
  width:80%;
  height:100%;
  background:rgba(120,120,120,0.051);
  filter:blur(4px);
}

tr{
  height:40px;
}

.msg{
   font-size: 15px;
    text-align: left;
    background: rgba(200,200,200,0.3);
    float: left;
    display:flex;
  color:#fafafa;
  padding-left:10px;
  padding-right:10px;
}

.timba-msg{
  color:rgba(230,230,230,0.6);
        background:transparent;

}

.user-msg{
    float:right;
    text-align:right;
    display:block;
    background-color:rgba(200,200,200,0.1);
}

.chat{
  float:right;
  width:80%;
  height:100%;
  margin-top:15px;
  position:absolute;
  left:20%;
}

.send-button{
  float:right;
  width:70px;
}

.message-box{
  width:calc(100% - 80px);
}


input{
  border-radius:0;
  background:transparent;
  color:#fff;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/