<div>
	<div style="overflow-y:auto; height:100%">
		<table class="table">
			<tbody>
				<tr [class.timbabot]="log.email == 'timbaBot@'" *ngFor="let log of services.timba.log">
					<td [class.common-player]="log.email != 'jibadano@gmail.com'" style="padding-left: 15px;font-size:16px;text-align:left">{{log.email.substring(0,log.email.indexOf('@'))}}</td>
					<td>{{log.msg}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<form role="form" class="form-inline">
		<div class="form-group">
			<input type="text" [(ngModel)]="message" placeholder="message" class="form-control message-box" id="msg" [ngModelOptions]="{standalone: true}">
			<button type="submit" (click)="sendMessage(message);message = '';" class="btn btn-default">Send</button>
		</div>
	</form>
</div>