
td{
  display:inline;
      box-shadow: inset 0 0px 2px #fff;
}

tr{
  height:40px;
}

.msg{
  font-family:arvo;
  color:#fafafa;
  background-color:#111;
  padding-left:10px;
  padding-right:10px;
}

.user-msg{
    float:right;
    background-color:green;
}

.chat{
  height:250px;
  margin-top:15px;
}

.send-button{
  width:70px;
}

.message-box{
  width:calc(100% - 80px);
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/