
td{
  display:inline;
      box-shadow: inset 0 0px 2px #fff;
}

tr{
  height:40px;
}

.msg{
  font-family:arvo;
  color:#fafafa;
  background-color:#3494ce;
  padding-left:10px;
  padding-right:10px;
}

.timba-msg{
    background-color:#111;
}

.user-msg{
    float:right;
    background-color:#f44336;
}

.chat{
  height:250px;
  margin-top:15px;
}

.send-button{
  width:70px;
}

.message-box{
  width:calc(100% - 80px);
}

button{
    border-radius: 0;
    font-family: arvo;
    background-color: #fdc300;
    color: #111;
    border-color:#fdc300;
}

input{
  border-radius:0;
      font-family: arvo;
}

input:focus{
  border-color:#fdc300;

}

button:hover{
    background-color: #111;
    color:#fff;
    border-color:#111;
}

button:focus{
   background-color: #fdc300;
    color: #111;
}

button:hover:focus{
  background-color: #111;
    color:#fff;
    border-color:#111;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/