.blur-bg{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:30%;
  background:rgba(120,120,120,0.1);
  filter:blur(8px);
}

.info-row{
  border-bottom: 1px solid rgba(200,200,200,0.3);
  text-align:left;
}

.info-value{
  text-align:middle;
    display: inline; 
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
}