<div class="menu-item"  style="width:100%;display:inline-flex;height:40px">
	<div class="menu-item" style="width:calc(100% - 360px); display:-webkit-box;overflow-x:hidden">
		<p style="margin:0; padding-left:10px;position:relative; float:right " *ngFor="let log of services.timba.log | noChat">
			<i *ngIf="log.type==1" style="text-align: center;padding-top: 12px;padding-right: 5px;" class="fa fa-plus"></i>
			<i *ngIf="log.type==2" style="text-align: center;padding-top: 12px;padding-right: 5px;" class="fa fa-minus"></i>
			<i *ngIf="log.type==3" style="text-align: center;padding-top: 12px;padding-right: 5px;" class="fa fa-times"></i>
			<i *ngIf="log.type==4" style="text-align: center;padding-top: 12px;padding-right: 5px;" class="fa fa-star"></i>
			{{log.msg}}
		</p>
	</div>
	<div class="menu-item" style="width:80px">
		<i class="fa fa-users" style="text-align: center;padding-top: 12px;padding-right: 5px;"></i> {{services.timba.players.length}}
	</div>
	<div class="menu-item" style="width:80px">
		<i class="fa fa-usd" style="text-align: center;padding-top: 12px;padding-right: 5px;"></i> {{getTotalAmount()}}
	</div>
	<div class="menu-item" style="width:150px">
		<i class="fa fa-clock-o" style="text-align: center;padding-top: 12px;padding-right: 5px;"></i> {{timeCountDown}}
	</div>
	<div class="menu-item" style="width:50px">
		<i class="fa" [class.fa-chevron-down]="!details" [class.fa-chevron-up]="details" (click)="details = !details" style="cursor:pointer;width: 100%;height: 100%;text-align: center;padding-top: 12px;"></i>
	</div>
</div>

<div class="details" *ngIf="details">
	<div style="width:40%;display:flex;margin:20px">
		<h5>Cantidad de Jugadores: <h3>{{services.timba.players.length}}</h3></h5>
		<h5>Monto acumulado: <h3>$ {{getTotalAmount()}}</h3></h5>
		<h5>Apuesta promedio: <h3>$ {{getTotalAmount()/services.timba.players.length}}</h3></h5>
	</div>
	<div style="width:60%;display:flex">
		<table style="display:flex;overflow-y:auto">
			<tr style="display:flex" *ngFor="let player of services.timba.players">
				<td style="width:500px">{{player.email}}</td>
				<td >$ {{getPlayerAmount(player)}}</td>
			</tr>
		</table>
	</div>
</div>