<div class="header">
  <div class="col-lg-6  col-md-12" style="height:100%">
    <h3 class="title">71mb4</h3>
  </div>
  <div class="col-lg-6  col-md-12" style="height:100%">

  <div class="session-buttons">
    <div class="btn-group">
      <button type="button" class="btn btn-default user" ><i class="fa fa-user" style="margin-right:5px"></i>  {{services.user.email}}</button>
      <button type="button" (click)="return.emit('menu');" class="btn btn-default"><i class="fa fa-bars"></i></button>
      <button type="button" (click)="return.emit('rules');" class="btn btn-default"><i class="fa fa-info"></i></button>
      <button type="button" (click)="logOut.emit();" class="btn btn-default"><i class="fa fa-power-off"></i></button>
    </div>
  </div>
  </div>
</div>